<section class="w-full h-full bg-cover bg-center no-repeat" id="home">
    <div class="w-full absolute">
        <div class="navbar">
            <div class="w-full flex">
                <div>
                    <p class="font-extrabold nasalization">JAYSON REYES</p>
                    <p class="text-[8px]">FRONT-END DEVELOPER</p>
                </div>
            </div>
            <ul class="w-full">
                <li class="text-lm"><a href="#section3">HOME</a></li>
                <li class="text-lm"><a href="#section2">PROJECTS</a></li>
                <li class="text-lm"><a href="#">CONTACT ME</a></li>
                <li class="text-lm"><a href="#">ABOUT ME</a></li>
            </ul>
            <!-- darktheme -->
            <div class="w-full flex justify-end">
                <div class="toggle-switch" >
                    <label class="switch-label">
                      <input type="checkbox" class="checkbox" (click)="night()">
                      <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center gap-[50px] items-center w-full h-full">
        <img src="assets/images/hackerlogo.png" width="200px">
        <div data-aos="fade-up" data-aos-duration="4000" data-aos-easing="ease-in-out" >
            <div class="text-center z-10">
                <strong class="text-[100px] uppercase outline_text">Jayson</strong>
                <strong class="text-[100px] uppercase outline_text"> reyes</strong>
                <p class="text-[25px] font-extrabold">FRONT-END,UI/UX DESIGNER, GRAPHIC ARTIST, FREELANCER</p>
            </div>
        </div>
        <button class="learn-more">
            <a href="#section2">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">See More</span>
            </a>
        </button>
        <!-- side picture -->
        <!-- <div >
            <div class="flex items-center"  data-aos="zoom-in" data-aos-duration="4000" data-aos-easing="ease-in-out" >   
                <img class="" src="assets\images\profile_new.png" width="442px">
            </div>
        </div> -->
    </div>
</section>
<section id="section2">
    <div class="w-full relative sticky top-0 z-50 ">
        <div class="navbar_second">
            <div class="w-full flex">
                <div>
                    <p class="font-extrabold nasalization">JAYSON REYES</p>
                    <p class="text-[8px]">FRONT-END DEVELOPER</p>
                </div>
            </div>
            <ul class="w-full">
                <li class="text-lm"><a href="#section3">HOME</a></li>
                <li class="text-lm"><a href="#section2">PROJECTS</a></li>
                <li class="text-lm"><a href="#">CONTACT ME</a></li>
                <li class="text-lm"><a href="#">ABOUT ME</a></li>
            </ul>
            <!-- darktheme -->
            <div class="w-full flex justify-end">
                <div class="toggle-switch" >
                    <label class="switch-label">
                      <input type="checkbox" class="checkbox" (click)="night()">
                      <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <section class="w-full h-full flex flex-col flex-wrap justify-around items-center">
        <div class="w-[40%] text-center">
            <strong>Services</strong><br>
            <strong class="text-[20px]">What I am Great at</strong>
            <p>Creating Powerpoint and designing Using Figma and dobe XD to Create a DifferentUI/UX Design. Im good at Photoshop and Illustrator. i learn a different language tocreate a website using HTML,JAVASCRIPT,DJANGO,ANGULAR,PYTHON,PHP, and My SQL is for the Data Base. Visual Studio is My coding Platform</p>
        </div>
        <div class="flex flex-wrap justify-around mt-10 gap-[20px]">
            <div class="flex flex-wrap justify-around items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                </svg>                  
                <div>
                    <p>Front-End Developer</p>
                    <strong class="text-[#00FFDD]">Tools</strong>
                </div>
                </div>
                <div class="flex flex-wrap justify-around items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                </svg>                  
                <div>
                    <p>UI/UX Designer</p>
                    <strong class="text-[#00FFDD]">Tools</strong>
                </div>
            </div>
            <div class="flex flex-wrap justify-around items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>                               
                <div>
                    <p>Editting</p>
                    <strong class="text-[#00FFDD]">Tools</strong>
                </div>
            </div>
        </div>
    </section>
</section>


